{{ form_start(form) }}
<h3>{{ day }}</h3>
<div class="row">
    <div style="display: inline-block">
        <span class="day-label">Choose start time</span>
        <div class="form-group">
            <div style="display: none;">{{ form_widget(form.day, { 'value': day }) }}</div>
            <div class='input-group date time-picker'>
                {{ form_widget(form.start, { 'attr': {'class': 'form-control day-time'} }) }}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
    <div style="display: inline-block">
        <span class="day-label">Choose end time</span>
        <div class="form-group">
            <div class='input-group date time-picker'>
                {{ form_widget(form.end, { 'attr': {'class': 'form-control day-time'} }) }}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="funkyradio-default">
        {{ form_widget(form.IsDayOff) }}
        <label for="checkbox">Day off</label>
    </div>
</div>
